RewriteEngine On

ErrorDocument 404 https://todopc.com.mx/test/Sistema/404
ErrorDocument 503 https://todopc.com.mx/test/Sistema/503
ErrorDocument 403 https://todopc.com.mx/test/Sistema/403
ErrorDocument 500 https://todopc.com.mx/test/Sistema/500

Options All -Indexes

RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^([^/]+)$ $1.html [L,QSA]




